window-rule {
    match app-id=r#"(?i)^(alacritty|kitty|io\.bassi\.amberol)$"#

    geometry-corner-radius 20
    clip-to-geometry true
}
window-rule {
    match app-id=r#"(?i)^(alacritty|kitty|io\.bassi\.amberol)$"#

    geometry-corner-radius 18
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^kitty$"#

    geometry-corner-radius 18
    clip-to-geometry true

//    background-effect {
//        blur true
//        xray true
//        noise 0.0
//        saturation 1.0
//    }
}

